Heroes.xcodeproj/xcuserdata/bernardo.lourenco.xcuserdatad/xcdebugger/
.DS_Store
Heroes.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Heroes.xcodeproj/project.xcworkspace/xcuserdata/bernardo.lourenco.xcuserdatad/WorkspaceSettings.xcsettings
Heroes/.DS_Store
HeroesPlayground.playground/playground.xcworkspace/
heroesPlayground2.playground/playground.xcworkspace/
HeroesPlayground.playground/
heroesPlayground2.playground/
Heroes.xcodeproj/xcshareddata/